body {
    margin: 0;
}

#app {
    display: flex;
    flex-direction: row;
    height: 100%;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1;
}

.headerTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(38, 45, 73);
    color: white;
    height: 8rem;
    gap: 0.35rem;
    padding: 0 1rem;
}

.headerRow {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.headerRow>div {
    display: flex;
    align-items: center;
}

.headerSubtitle {
    margin: 0;
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.75);
}

img {
    width: 2rem;
    height: 2rem;
}


.projectsContainer {
    background-color: rgb(61, 82, 165);
}

.projectDivContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.projectTitle {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.75);

}

.projectsDiv {
    border-bottom: solid 0.1rem grey;
    padding: 1rem;
}

.projectList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border: solid 0.1rem grey;

}


.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.projectLinks {
    border: none;
    border-radius: 5px;
    margin: 1rem;
    width: 10rem;
    flex: 1;
    font-weight: bold;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    background-color: transparent;
    cursor: pointer;
}

.projectLinks:hover,
.addButton:hover {
    color: white;
}

.addButton {
    background-color: transparent;
    border: none;
    border-style: dashed;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    flex: 1;
    font-size: 1rem;
    cursor: pointer;
}

.addedProjectsContainer {
    padding: 1rem;
    height: 25rem;
    overflow: scroll;
}


.content {
    background-color: rgb(238, 234, 234);
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
}

.headerDiv {
    align-content: center;
    text-align: center;
    color: black;
    border-bottom: solid 0.5px black;
    margin: 0;
    height: 8rem;
}

h1 {
    margin: 0;
    line-height: 1;
}

.Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex: 1;
    padding: 0.5rem;
    color: black;
    margin-top: 1rem;
}

input {
    height: 2rem;
    width: 100%;
    border-radius: 5px;
    padding: 0 1rem;

}

#addToDoButton {
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
    background-color: rgb(53, 152, 218);
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.clickDeleteImg {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.projectButton {
    border: none;
    border-radius: 5px;
    margin: 1rem;
    width: 1rem;
    flex: 1;
    font-weight: bold;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    background-color: transparent;
    cursor: pointer;
}

.projectButton:hover {
    color: white;
}

#projectUpForm {
    border: solid black 2px;
    padding: 1rem;
    width: 20%;
    height: 15%;
    align-items: center;
    gap: 5px;
}

#todoUpForm {
    border: solid black 2px;
    padding: 1rem;
    width: 25rem;
    height: 20rem;
}

#todoUpForm>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#todoUpForm>.form-example {
    display: table-row;
    gap: 5px;
}

label,
input {
    display: table-cell;
    /* margin-bottom: 10px; */
}

label {
    padding-right: 10px;
}

.todoListsDiv {
    padding: 1rem;
    flex-direction: column;
    height: 41rem;
    width: auto;
}

#dueDate {
    border-radius: 0.4rem;
    border: 2px solid black;
    padding: 0.5rem;
    width: 10rem;
    height: 1rem;
    margin: 1rem;
}
#description{
    height: 10rem;
}